<div class="container">
  <div class="grid">
    <div class="g-col-6 g-start-4">
      <% if flash[:login_alert] %>
        <div class="g-col-10 d-flex justify-content-center align-items-center border rounded-3 p-2 mb-3">
          <%= flash[:login_alert] %>
        </div>
      <% end %>
      <%= form_with url: login_path, method: :post, local: true do |form| %>
        <h1 class="h1 mb-3 fw-normal">Login</h1>
        <div class="form-floating my-2">
          <%= form.email_field :email, class: @error ? "form-control is-invalid" : "form-control", placeholder: "name@example.com", value: @email %>
          <%= form.label :email, "Email"%>
        </div>
        <div class="form-floating my-2">
          <%= form.password_field :password, class: @error ? "form-control is-invalid" : "form-control", placeholder: "Password" %>
          <%= form.label :password, "Password" %>
          <% if @error %>
            <div class="invalid-feedback">Email or Password is invalid.</div>
          <% end %>
        </div>
        <div class="checkbox my-3">
          <%= form.check_box :remember_me, checked: cookies[:email] ? true : false %>
          <%= form.label :remember_me, " Remember me" %>
        </div>
        <%= form.submit "Login", class: "w-100 mb-3 btn btn-lg btn-primary" %>
      <% end %>
      <p>New User? <%= link_to "click here", register_path %> to register.</p>
    </div>
  </div>
</div>
