
<div class="container">
  <div class="grid">
    <div class="g-col-6 g-start-4">
      <%= form_with model: @new_user, local: true do |form| %>
        <h1 class="h3 mb-3 fw-normal">User Registration</h1>
        <div class="form-floating my-2">
          <%= form.text_field :name, class: "form-control", placeholder: "Joe Schmoe" %>
          <%= form.label :name, "Name" %>
          <% if @errors && @errors.messages.has_key?(:name) %>
            <div class="invalid-feedback">Name <%= @errors.messages[:name].first %>.</div>
          <% end %>
        </div>
        <div class="form-floating my-2">
          <%= form.email_field :email, class: "form-control", placeholder: "name@example.com" %>
          <%= form.label :email, "Email" %>
          <% if @errors && @errors.messages.has_key?(:email) %>
            <div class="invalid-feedback">Email <%= @errors.messages[:email].first %>.</div>
          <% end %>
        </div>
        <div class="form-floating my-2">
          <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
          <%= form.label :password, "Password" %>
          <% if @errors && @errors.messages.has_key?(:password) %>
            <div class="invalid-feedback">Password <%= @errors.messages[:password].first %>.</div>
          <% end %>
        </div>
        <div class="form-floating my-2">
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
          <%= form.label :password_confirmation, "Confirm Password" %>
          <% if @errors && @errors.messages.has_key?(:password_confirmation) %>
            <div class="invalid-feedback">Passwords don't match.</div>
          <% end %>
        </div>
        <%= form.submit "Register", class: "w-100 btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>