<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="text-center">

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-3">Viewing Party!</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to "Home", root_path, class: current_page?(root_path) ? "nav-link active" : "nav-link" %></li>
        <li class="nav-item"><%= link_to "Login", login_path, class: current_page?(login_path) ? "nav-link active" : "nav-link" %></li>
        <li class="nav-item"><%= link_to "Register", register_path, class: current_page?(register_path) ? "nav-link active" : "nav-link" %></li>
      </ul>
    </header>
  </div>

  

    <%= yield %>
  </body>
</html>
